svg,
g,
path,
polyline{
	transition: 1s;
}
svg{
	width: 1800px;
}
#rings-1, #rings-2, #rings-3{
	opacity: 0;
	transition: 1s opacity;
}

#rings-1{
	transform: scale(1.5) translateX(-68px) translateY(-68px);
	stroke-width: 1px !important;
	fill: #000;
}

path#rings-2 {
	stroke-width: 5px;
	fill: #000;
}

#top,
#bottom{
	transform-origin: 50% 50% 100px !important;
}

polygon#key {
	stroke-width: 14;
	transform-origin: 50% 50%;
	transform: rotate(90deg) translateY(-53px) translateX(850px);
	stroke: #000;
	opacity: 0;
	transition: 1s
}
polyline#key-arr {
	transform-origin: 50% 50%;
	transform: rotate(90deg) translateX(37px) translateY(-125px);
	opacity: 0;
}

#roll{
	transform-origin: 50% 50%;
	animation-timing-function: linear;
}

#square{
	opacity: 0;
	transform-origin: 50% 50% 0;
	transform: scale3d(0.35, .45, 1)
}

@keyframes roll {
 0% {transform: scaleX(1);}
 25% {transform: scaleX(0);}
 50% {transform: scaleX(-1);}
 75% {transform: scaleX(0);}
 100% {transform: scaleX(1);}
}
#circle-big{
	transform-origin: 50% 50% 0;
	transform: scale(1.15);
	opacity: 0;
	stroke-width: 3px;
	stroke: white;
}
iframe{
	width: 50%;
	height: 50vh;
	border: 1px solid #000;
}
.row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}
button{
	position: fixed;
	z-index: 101;
	left: 0;
	top: 0;
}
canvas{
	max-width: 100%;
	max-height: 100vh;
	background: #000;
}
.wrapper{
	max-width: 1000px;
}
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
a{
	position: absolute;
	left: 0;
	top: 0;
}